@use "../../styles/MainStyle" as *;

$canvas-background-color: darken($main-color-dark, 7%);

.editor-img-container {
    @include stretchy;
    @include flex-container(column);
    gap: 2px;

    .img-header {
        display: flex;
        flex-direction: row;
        gap: 10%;
        align-items: end;
        padding: 6px 6px;

        .img-title-container {
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 10px;

            .img-title-id {
                font-size: 30px;
                padding-left: 5px;
                padding-right: 5px;
                background-color: $main-color-lighter;
                color: $main-color-dark;
                border-radius: $border-radius;
            }

            .img-title {
                font-size: 28px;
                font-family: $main-font;
                color: $main-color-lighter;
            }
        }

        .img-controls {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8%;
            justify-content: flex-end;


            .zoom-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 40%;
                gap: 4px;

                .zoom-label {
                    font-weight: bold;
                    font-size: 22px;
                }

                .zoom-btn {
                    font-size: 20px;
                    min-width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 0;
                }

                .zoom-range-input-container {
                    flex-grow: 1;
                    display: flex;

                    input[type= 'range'] {
                        width: 100%;
                        background-color: $main-color-accent;
                    }
                }

            }

        }
    }

    .editor-canvas {
        @include stretchy;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $main-color-dark;
        background-color: $canvas-background-color;
        flex-basis: 0;
        object-fit: contain;

        .editor-img {
            position: relative;
            display: flex;
            align-items: center;
            image-rendering: pixelated;
        }
    }
}

