@use "../../../styles/MainStyle" as *;


.point-summary {
  border: 1px solid $main-color-dark;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 4px 9px;

  background: #bdbaba;

  &, * {
    text-decoration: none;
    color: inherit;
  }

  &:not(.active) {
    &.tp-style {
      background: $tp-color;
    }

    &.gcp-style {
      background: $gcp-color;
    }
  }

  &.active {
    &.tp-style {
      background: $selected-tp-color;
    }

    &.gcp-style {
      background: $selected-gcp-color;
    }
  }

  .additional-info-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: medium;
  }

  .tag-card {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin: 2px;
    border: 1px solid $main-color-dark;
    border-radius: 4px;
  }

  .id-text {
    font-size: larger;
    font-weight: bold;
  }

  .additional-info-key-text {
    display: inline;
    font-weight: 550;
  }

  .additional-info-value-text {
    display: inline;
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
    cursor: pointer;
  }

  .gear-container {
    position: relative;
    /*transform: rotate(30deg);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    overflow: visible;
  }

  .options-position {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    overflow: visible;
  }

}