@use "../../../styles/MainStyle" as *;

.point-marker {
  .outer-circle {
    &.dragged-all {
      stroke: $point-dragged-color;
    }

    &.dragged-right {
      stroke: $point-dragged-right-color;
    }

    &.dragged-bottom {
      stroke: $point-dragged-bottom-color;
    }

    &.dragged-none {
      &.point-selected {
        &.point-type-tp {
          stroke: $tp-selected-color;
        }

        &.point-type-gcp {
          stroke: $gcp-selected-color;
        }
      }

      &:not(.point-selected) {
        &.point-type-tp {
          stroke: $tp-color;
        }

        &.point-type-gcp {
          stroke: $gcp-color;
        }
      }
    }
  }
}