@use "../../../styles/MainStyle" as *;

.point-inspector-component {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $main-color-medium;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .header {

  }

  .point-position {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .point-local, .point-global {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .linked-img-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .group-header {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;

      .add-btn {
        padding: 1px;
        border-radius: $border-radius * 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color-accent;
        border: none;
        cursor: default;

        &:hover {
          background-color: lighten($main-color-accent, 18%);
        }

        .btn {
          font-size: 14px;
        }

      }

    }

  }

  .linked-img {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 11px;
  }

  .linked-img-text {
    font-size: 0.95em;
  }


}