@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');
//@import "~bootstrap/scss/bootstrap";

$main-color-dark: #103D3E;
$main-color-light: #C3F1F1;
$main-color-lighter: #E6F4F1;
$main-color-accent: #C75314;

$tp-color: orange;
$gcp-color: magenta;
$sp-color: gold;

$tp-selected-color: gold;
$gcp-selected-color: gold;

$point-dragged-color: blue;
$point-dragged-right-color: lime;
$point-dragged-bottom-color: red;

$main-font: 'Roboto Slab', serif;

@mixin flex-container($direction: row) {
  display: flex;
  flex-direction: $direction;
  overflow: hidden;
  >* {
    flex: 0 0 auto;
    overflow: hidden;
  }
}

@mixin stretchy {
  flex: 1 1 auto !important;
}

html, body, #root, .pages-container {
  height: 100%;
}

body {
  margin: 0;
}

.pages-container {
  @include flex-container(column)
}

@mixin page-mixin {
  align-self: stretch;
  flex-grow: 1;
}

//@import "src/ui/components/PageMenu";
//@import "src/ui/pages/EditorPage";






