@use "../../../styles/MainStyle.scss" as *;

.point-side-list-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 6px;

  .point-side-list-header {
    display: flex;
    flex-direction: row-reverse;
  }

  .compact-btn {
    height: 24px;
    background-color: $medium-color-button-background;
  }

  .compact-btn:hover {
    background-color: $medium-color-button-background-hover;
  }

  .source-groups-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .source-group {

      .group-header {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: flex-end;

        .add-btn {
          padding: 1px;
          border-radius: $border-radius;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $main-color-accent;
          border: 1.5px solid $main-color-dark;
          cursor: default;

          &:hover {
            background-color: lighten($main-color-accent, 18%);
          }

          .btn {
            font-size: 15px;
          }

        }

      }

      .divider {
        border: 2px solid $main-color-light;
        //margin-top: 3px;
        //margin-bottom: 5px;
      }
    }
  }

  .point-side-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.compact {
      flex-direction: row;
      gap: 4px;
      flex-wrap: wrap;
    }
  }

}

