@use "../../../styles/MainStyle.scss" as *;

.point-side-list-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 6px;

  .point-side-list-header {
    display: flex;
    flex-direction: row-reverse;
  }

  .compact-btn {
    height: 24px;
    background-color: $medium-color-button-background;
  }

  .compact-btn:hover {
    background-color: $medium-color-button-background-hover;
  }

  .source-groups-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .source-group {

      .divider {
        border: 2px solid $main-color-light;
        //margin-top: 3px;
        //margin-bottom: 5px;
      }
    }
  }

  .point-side-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.compact {
      flex-direction: row;
      gap: 4px;
      flex-wrap: wrap;
    }
  }

}

