@use "sass:color";
@use "/src/ui/styles/MainStyle" as *;

.data-page {
  //@include page-mixin;
  @include stretchy;

  display: grid;
  grid-template-rows: 250px auto;
  grid-template-areas:
    "a"
    "b";

  overflow: hidden;

  .header-section {
    grid-area: a;
  }

  .main-section {
    grid-area: b;

    .main-content {
      padding: 20px;
      height: 100%;
      overflow-y: scroll;

      .buttons-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 10px;
        gap: 10px;

        button {
          width: 200px;
          height: 40px;
        }
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

        th {
          border: 1px solid black;
          font-weight: bold;
          background-color: #92dc92;
          padding: 12px;
        }

        td {
          border: 1px solid black;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .tab-header {
      white-space: nowrap;
      width: max(200px, 15%);
    }
  }

  .tab-link{
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}
