@use "sass:color";
@use "/src/ui/styles/MainStyle" as *;

.data-page {
  //@include page-mixin;
  @include stretchy;

  display: grid;
  grid-template-rows: 250px auto;
  grid-template-areas:
    "a"
    "b";

  overflow: hidden;

  .header-section {
    grid-area: a;
  }

  .main-section {
    grid-area: b;

    .tab-header {
      width: 15%;
    }
  }

  .tab-link{
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}
