@use "sass:color";

@use "/src/ui/styles/MainStyle" as *;

@mixin panel-mixin {
  margin: 5px;
}

@mixin rounded-panel-mixin {
  @include panel-mixin;
  border-radius: $border-radius;
  border: none;
}

.editor-page {
  //@include page-mixin;
  @include stretchy;

  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-areas: "left-col main-col right-col";
  overflow: hidden;

  .image-list {
    @include rounded-panel-mixin;
    grid-area: left-col;
    background: $main-color-medium;

    @include flex-container(column);
    align-items: center;

    padding: 15px 15px;
    gap: 14px;

    overflow-x: inherit;
    overflow-y: scroll;
    flex: 1;

    .add-img-box {
      font-family: $main-font;
      color: darken($main-color-light, 6%);
      display: flex;
      flex-direction: row;
      font-size: 15px;
      align-items: center;
      line-height: 0;
      gap: 1px;
      cursor: default;

      span {
        color: darken($main-color-light, 6%);
        font-size: 20px;
      }

      &:hover {
        color: lighten($main-color-light, 18%);

        span {
          color: lighten($main-color-light, 18%);
        }

      }
    }

    .title{
      font-size: 22px;
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      color: $main-color-dark;
    }

    .list {
      display: flex;
      min-height: min-content;
      flex-direction: column;
      gap: 22px;
      align-items: stretch;
      width: 100%;
    }

  }

  .main-section {

    @include panel-mixin;
    grid-area: main-col;

    @include flex-container(column);

    gap: 16px;

    .no-image-selected-text {
      padding: 10px;
      font-size: 18px;
      font-family: $main-font;
      color: $main-color-light;
    }

    .point-inspector {
      @include rounded-panel-mixin;
      margin: 0;
      height: 260px;
      background: $main-color-lighter;
    }

    .no-point-selected {
      margin: 0;
      height: 260px;
      font-family: $main-font;
      color: $main-color-light;
    }

  }

  .gpc-tp-point-list {
    @include panel-mixin;
    grid-area: right-col;
  }

  .tab-link{
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}

