@use "sass:color";

@use "../../styles/MainStyle" as *;

$header-size: 32px;
$rounded-border-radius: $border-radius;

$card-layout-bg: $main-color-medium;

* {
  box-sizing: border-box;
}

.card-layout-tabs-panel {

  position: relative;
  display: block;
  border: none;

  .tab-selection-header{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-size;

    .tab-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      width: 52px;
      border-radius: $rounded-border-radius $rounded-border-radius 0 0;
      z-index: 1;

      background: darken($main-color-medium, 6%);

      &.active{
        background: $card-layout-bg;
        z-index: 3;
      }

    }
  }

  .tab-content {
    position: absolute;
    top: $header-size;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 0 $rounded-border-radius $rounded-border-radius $rounded-border-radius;
    z-index: 2;

    background: $card-layout-bg;
  }
}