@use "../../styles/MainStyle" as *;

.multi-options-toggle-container {

  display: flex;
  flex-direction:  row;
  align-items: center;

  button {
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    border-radius: 0;

    &:not(:last-child) {
      border-right: 2px solid darken($main-color-medium, 6%);
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.selected {
      background-color: $main-color-accent;
    }

  }

}