@use "/src/ui/styles/MainStyle" as *;

//$panel-bg-color: lighten($medium-color-button-background, 20%);
//$panel-bg-color-hover: lighten($medium-color-button-background, 35%);
$panel-bg-color: $main-color-dark;
$panel-bg-color-hover: $main-color-light;
$panel-font-color: $main-color-light;
$panel-font-color-hover: $main-color-dark;
$panel-border-size: 1px;

.options-panel-container {
  position: absolute;
  transform: translateX(-50%) translateY(10px);
  border-radius: $border-radius;
  color: $panel-font-color;
  background-color: $panel-bg-color;
  border: none;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 8;
  overflow: visible;

  &.right {
    transform: translateX(-50%) translateY(10px) translateX(-60px);
  }

  .pointer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(3px) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: $panel-bg-color;
    z-index: 9;
    border: none;
  }

  &.right .pointer {
    transform: translateX(-50%) translateY(-50%) translateY(3px) translateX(60px) rotate(45deg);
  }

  .pointer-bg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $panel-bg-color;
    z-index: 10;
  }

  &.right .pointer-bg {
    transform: translateX(-50%) translateX(60px);
  }

  .option {
    text-align: left;
    padding: 3px 5px;
    z-index: 11;
    font-family: $main-font;
    color: $panel-font-color;

    &:nth-child(3) {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &:hover {
      color: $panel-font-color-hover;
      background-color: $panel-bg-color-hover;
    }

    &.clicked {
      background-color: #a3bfda;
    }

  }

}
