@use "/src/ui/styles/MainStyle" as *;

.camera-params {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.2em;

  input[type='number'] {
    width: 150px !important;
  }

  .fields-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: start;
    padding-top: 5px;
    padding-bottom: 5px;

    .field {

      .label {
        width: 70px;
        text-align: right;
      }
    }
  }
}